<!DOCTYPE html>
<html ng-app="game">
<head lang="en">
    <meta charset="UTF-8">
    <title>Game Live! - Admin</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="includes/angular.js"></script>
    <script src="angular.game.js"></script>
    <link rel="stylesheet" href="includes/bootstrap.min.css">
    <link rel="stylesheet" href="includes/main.css">

</head>
<body ng-controller="AdminCtrl">

<div class="container">
    <h2 class="title" style="margin-top: 10%">Two Roads Game Page</h2>


    <div ng-hide="initialized">
        <form ng-submit="createGame()">
            <input type="text" class="nick-input center" ng-model="nick" placeholder="Enter nick!">
            <button class="btn btn-primary below-center">CREATE</button>
        </form>
    </div>

    <div ng-show="initialized" class="scoreboard">
        <p>Game Id: {{gameId}} </p>

        <p ng-show="players.length">Admin: {{players[0]}}</p>

        <p ng-repeat="player in players track by $index" ng-hide="score.length">{{player}} has joined</p>

        <p ng-repeat="player in players track by $index" ng-show="score.length">{{player}} : {{score[$index]}}</p>

        <p ng-show="score.length">Words Remaining: {{wordsRemaining}}</p>

        <div class="center" ng-hide="started">
            <form ng-submit="startGame()">
                <button class="btn btn-primary ">START</button>
            </form>
        </div>
    </div>


    <div ng-show="started">
        <h3 class="bottom-center" ng-show="!finished" style="font-weight: bold;">{{players[currPlayerIndex]}}'s
            move!</h3>

        <p class="bottom-center" ng-show="finished" style="font-weight: bold;">GAME OVER!</p>

        <div class="board center">
            <div class="row" ng-repeat="row in board track by $index" ng-init="rowIndex = $index">
                <div class="tile-default" ng-click="changeClass(rowIndex,colIndex)"
                     ng-class="{'tile0':boardClass[rowIndex][colIndex] == 0,'tile1':boardClass[rowIndex][colIndex] == 1,'tile2':boardClass[rowIndex][colIndex] == 2}"
                     ng-repeat="col in row track by $index" ng-init="colIndex = $index"
                     style="float: left; width:30px;padding-left: 2px;text-align: center">{{col}}
                </div>
            </div>
        </div>
    </div>

    <div ng-show="started && !finished">
        <div>
            <form ng-submit="makeMove()">
                <button class="btn btn-primary  submit-move" ng-class="{'disabled':myId != currPlayer}">SUBMIT</button>
            </form>
            <form ng-submit="makePass()">
                <button class="btn btn-primary  pass-move" ng-class="{'disabled':myId != currPlayer}">PASS</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>