.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.below-center{
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.bottom-center{
    position: fixed;
    top: 80%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.nick-input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #337ab7;
    padding: 20px;
    outline:0;
}

.scoreboard{
    position: fixed;
    top: 20%;
    left: 15%;
    font-weight: bold;
}

.tile0 {
    background: #f6f6f6 50% 50% repeat-x;
    font-weight: bold;
    color: #337ab7;
}

.tile1{
    background: #d9edf7; color:white;
}

.tile2{
    background: #337ab7; color: white;
}

.title{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}


.board{
    cursor: default;
    padding-left: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.submit-move{
    position: fixed;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);

}

.pass-move{
    position: fixed;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);

}
